
.container{
    padding: 0 100px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Headder Section*/

.header-section{
    padding: 20px 0;
}

.header-section .row {
    display: flex;
    align-items: center;
}

.left-logo{
    width: 50%;
}

.left-logo h1{
    font-size: 40px;
    font-weight: bold;
    color: #7ed957;
    text-transform: uppercase;
    float: left;
    font-family: 'Times New Roman', Times, serif;
}

.right-menu{
    width: 50%;
}

.right-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.right-menu ul li{
    display: inline-block;
    margin-left: 25px;
}

.right-menu ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #185E6D;
    font-weight: bold;
    text-transform: capitalize;
}


.right-menu ul li a:hover{
    color: orangered;
}

/*Intro Section*/
.intro-section{
    padding: 50spx 0;

}

.intro-section .row{
    display: flex;
    align-items: center;

}

.details-left{
    width: 50%;
    float: left;
}

.details-left h1{
font-size: 60px;
font-weight: bold;
color: blueviolet;
text-transform: uppercase;
}

.details-left .tag-h1 {
    font-size: 60px;
font-weight: bold;
color: violet;
text-transform: uppercase;
margin-bottom: 20px;

}

.details-left p{
font-size: 20px;
font-weight: bold;
color: black;
text-transform: capitalize;
margin-bottom: 60px;
}

.details-left .button{
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    color: white;
    background: #185E6D; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #185E6D 50%, #ff3131 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.details-left .button:hover{
   
    background-position: left;
}

.image-right{
    width: 50%;
    float: right;
}

.image-right img{
    width: 80%;
    float: right;
    
}


/*Content-Section*/

.Content-Section{
    padding: 50spx 0;
}

.Content-Section .row{
    display: flex;
    align-items: center;

}

.image-left{
    width: 50%;
    float: left;
}

.image-left img{
    width: 80%;
    float: left;
    
}

.details-right{
    width: 50%;
    float: right;
}

.details-right h1{
    font-size: 60px;
    font-weight: bold;
    color: olive;
    text-transform: uppercase;
    margin-bottom: 10px;
    }

    .details-right p{
        font-size: 20px;
        font-weight: bold;
        color: black;
        text-transform: capitalize;
        margin-bottom: 60px;
        }

        .details-right .button2{
            border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    color: white;
    background: #185E6D; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #185E6D 50%, #ff3131 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
        }

        .details-right .button2:hover{
            background-position: left;
        }

        
        